@model NotesMarketPlace.Models.AdminSignUp

@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}


<head>

    

    <!-- Ttle -->
    <title>Add Administrator - Notes MarketPlace</title>

</head>

<body>

    <section id="add-administrator" class="admin-add-page">

        
        <!-- details conatiner -->
        <div class="general-box">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <p class="section-heading">Add Administrator</p>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="success-msg">
                            @Html.Raw(@ViewBag.IsSuccess)
                        </div>

                        <form method="post">
                            <div class="row">

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

                                    <div class="form-group">
                                        <label class="info-label" for="aa-firstname">First Name *</label>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control input-box-style", id = "aa-firstname", placeholder = "Enter your first name" })
                                        <div class="incorrect-password-label">
                                            <p>
                                                @Html.ValidationMessage("FirstName", new { @style = "color:red" })
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="info-label" for="aa-lastname">Last Name *</label>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control input-box-style", id = "aa-lastname", placeholder = "Enter your last name" })
                                        <div class="incorrect-password-label">
                                            <p>
                                                @Html.ValidationMessage("LastName", new { @style = "color:red" })
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="info-label" for="aa-email">Email *</label>
                                        @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control input-box-style", id = "aa-email", placeholder = "Enter your email address" })
                                        <div class="incorrect-password-label">
                                            <p>
                                                @Html.ValidationMessage("EmailID", new { @style = "color:red" })
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row no-gutters">

                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                                            <div class="form-group">
                                                <label class="info-label" for="aa-ccode">Code</label>
                                                @Html.DropDownListFor(x => x.CountryCode, new SelectList(ViewBag.countryCode, "Value", "Text"), "+91", new { @class = "form-control input-box-style", id = "aa-ccode" })
                                                <div class="select-down-arrow"><img class="select-down-arrow-img" src="~/Content/User/images/user-profile/down-arrow.png" alt="eye"></div>
                                                <div class="incorrect-password-label">
                                                    <p>
                                                        @Html.ValidationMessage("CountryCode", new { @style = "color:red" })
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                                            <div class="form-group">
                                                <label class="info-label" for="aa-pnumber">Phone Number</label>
                                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control input-box-style", id = "aa-email", placeholder = "Enter your phone number" })
                                                <div class="incorrect-password-label">
                                                    <p>
                                                        @Html.ValidationMessage("PhoneNumber", new { @style = "color:red" })
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-general btn-purple">Submit</button>
                                    </div>

                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- details container -->
       

    </section>

</body>

