@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}
<head>

    

    <!-- Title -->
    <title>Manage Country - Notes MarketPlace</title>

</head>

<body>

    <section id="manage-country" class="admin-manage-page">

        
        <!-- manage-administrator table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">Manage Country</p>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                        <button onclick="window.location.href='Admin/addCountry'" class="btn btn-general btn-purple add-country-btn">Add Country</button>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                        @using (Html.BeginForm("managecountry", "Admin", FormMethod.Get))
                        {
                            <div class="row no-gutters general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/Admin/images/Dashboard/search-icon.png" alt=""></span>
                                    <input name="countysearch" type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @{
                IPagedList<NotesMarketPlace.Models.typeuser> codetail = ViewBag.colist;}
            <div class="container">

                <div class="manage-country-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">sr no.</th>
                                    <th scope="col">Country Name</th>
                                    <th scope="col">Country Code</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Added By</th>
                                    <th scope="col" class="text-center">Active</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.colistCount > 0)
                                {
                                    var s = 0;
                                    foreach (var i in codetail)
                                    {
                                        s++;
                                        <tr>
                                            <td class="text-center">@s</td>
                                            <td>@i.countrydata.CountryName</td>
                                            <td>@i.countrydata.CountryCode</td>
                                            <td>@i.countrydata.CreatedDate</td>
                                            <td>@i.user.FirstName @i.user.LastName</td>
                                            @if (@i.countrydata.IsActive)
                                            {
                                                <td class="text-center">Yes</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">No</td>
                                            }
                                            <td class="text-center">
                                                <a href="/Admin/addcountry/@i.countrydata.CountryID">
                                                    <img class="edit-img-in-table" src="~/Content/Admin/images/Dashboard/edit.png" alt="edit">
                                                </a>
                                                <a href="/Admin/deleteCountry/@i.countrydata.CountryID"><img class="delete-img-in-table" src="~/Content/Admin/images/Dashboard/delete.png" alt="edit"></a>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">
                                            <center>
                                                No Record Found ...!
                                            </center>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(codetail, page => Url.Action("managecountry", new
               {
                   page,
                  Search = Request.QueryString["countysearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
       

    </section>

</body>
