@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}

<head>

    <!-- Title -->
    <title>Manage Type - Notes MarketPlace</title>

    

</head>

<body>

    <section id="manage-type" class="admin-manage-page">

       
        <!-- manage-administrator table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">Manage Type</p>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                        <button onclick="window.location.href='~/Views/Admin/addType.cshtml'" class="btn btn-general btn-purple add-type-btn">Add Type</button>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                        @using (Html.BeginForm("managetype", "Admin", FormMethod.Get))
                        {
                            <div class="row no-gutters general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/Admin/images/Dashboard/search-icon.png" alt=""></span>
                                    <input name="typesearch" type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            @{IPagedList<NotesMarketPlace.Models.typeuser> tudetail = ViewBag.tulist;}

            <div class="container">

                <div class="manage-type-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">SR NO.</th>
                                    <th scope="col">TYPE</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">DATA ADDED</th>
                                    <th scope="col">ADDED BY</th>
                                    <th scope="col" class="text-center">ACTIVE</th>
                                    <th scope="col" class="text-center">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in tudetail)
                                {
                                    <tr>
                                        <td class="text-center">@i.types.NoteTypeID</td>
                                        <td>@i.types.TypeName</td>
                                        <td>@i.types.Description</td>
                                        <td>@i.types.CreatedDate.ToString()</td>
                                        <td>@i.user.FirstName @i.user.LastName</td>
                                        @if (@i.types.IsActive)
                                        {
                                            <td class="text-center">Yes</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">No</td>
                                        }
                                        <td class="text-center">
                                            <a href="/Admin/addtype/@i.types.NoteTypeID">
                                                <img class="edit-img-in-table" src="~/Content/Admin/images/Dashboard/edit.png" alt="edit">
                                            </a>
                                            <a href="/Admin/deleteType/@i.types.NoteTypeID"><img class="delete-img-in-table" src="~/Content/Admin/images/Dashboard/delete.png" alt="delete"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(tudetail, page => Url.Action("managetype", new
               {
                   page,
                   Search = Request.QueryString["typesearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
      

    </section>

</body>
