@using PagedList;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}

<head>
    
    <title>Manage Administrator - Notes MarketPlace</title>

    

</head>

<body>
    <section id="manage-administrator" class="admin-manage-page">

        
        <!-- manage-administrator table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">Manage Administrator</p>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                        <button onclick="window.location.href='/Admin/addadministrator'" class="btn btn-general btn-purple add-administrator-btn">Add Administrator</button>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-12">
                        @using (Html.BeginForm("manageadministrator", "Admin", FormMethod.Get))
                        {
                            <div class="row no-gutters general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/Admin/images/Dashboard/search-icon.png" alt=""></span>
                                    <input name="adminsearch" type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="manage-administrator-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">sr no.</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">email</th>
                                    <th scope="col">Phone no.</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Active</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{IPagedList<NotesMarketPlace.Models.AllProgressNotes> admins = ViewBag.administrator;}
                                @if (ViewBag.administratorCount > 0)
                                {
                                    int s = 0;
                                    foreach (var i in admins)
                                    {
                                        s++;
                                        <tr>
                                            <td class="text-center">@s</td>
                                            <td>@i.user.FirstName</td>
                                            <td>@i.user.LastName</td>
                                            <td>@i.user.EmailID</td>
                                            <td>@i.uprofiledata.PhoneNumber</td>
                                            <td>@i.user.CreatedDate</td>
                                            @if (@i.user.IsActive == true)
                                            {
                                                <td class="text-center">Yes</td>
                                            }
                                            else
                                            {
                                                <td class="text-center">No</td>
                                            }

                                            <td class="text-center">
                                                <img class="edit-img-in-table" src="~/Content/Admin/images/Dashboard/edit.png" alt="edit">
                                                <a href="/Admin/deleteAdministrator/@i.user.UserID">
                                                    <img class="delete-img-in-table" src="~/Content/Admin/images/Dashboard/delete.png" alt="delete">
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <center>
                                                No Record Found...!
                                            </center>
                                        </td>
                                    </tr>
                                }



                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(admins, page => Url.Action("manageadministrator", new
               {
                   page,
                   Search = Request.QueryString["adminsearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
        

    </section>

   
</body>


