@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}

<head>
    
    <title>Member Details - Notes MarketPlace</title>

</head>

<body>
    <section id="member-details">

       
        <!-- member details box -->
        <div class="container">
            <div class="content-box-lg with-bottom-border">
                <p class="box-heading">Member Details</p>
                <div class="row no-gutters member-details-wrapper">
                    @{
                        IEnumerable<NotesMarketPlace.Models.AllProgressNotes> profileData = ViewBag.profile;
                        int s = 0;
                        ViewBag.fname = "";
                        ViewBag.lname = "";
                        ViewBag.address1 = "";
                        ViewBag.address2 = "";
                        ViewBag.email = "";
                        ViewBag.dob = "";
                        ViewBag.phone = "";
                        ViewBag.college = "";
                        ViewBag.city = "";
                        ViewBag.state = "";
                        ViewBag.country = "";
                        ViewBag.zipcode = "";
                        ViewBag.dpPath = "";
                        ViewBag.university = "";
                        foreach (var i in profileData)
                        {
                            ViewBag.fname = i.user.FirstName;
                            ViewBag.lname = i.user.LastName;
                            ViewBag.address1 = i.uprofiledata.AddressLine1;
                            ViewBag.address2 = i.uprofiledata.AddressLine2;
                            ViewBag.email = i.user.EmailID;
                            ViewBag.dob = i.uprofiledata.DateOfBirth;
                            ViewBag.phone = i.uprofiledata.PhoneNumber;
                            ViewBag.dpPath = i.uprofiledata.ProfilePicture;
                            ViewBag.college = i.uprofiledata.College;
                            ViewBag.city = i.uprofiledata.City;
                            ViewBag.state = i.uprofiledata.State;
                            ViewBag.country = i.country.CountryName;
                            ViewBag.zipcode = i.uprofiledata.ZipCode;
                            ViewBag.university = i.uprofiledata.University;
                        }
                    }
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div class="member-photo">
                            @if (ViewBag.dpPath != null)
                            {
                                <img src="@Url.Content(ViewBag.dpPath)" alt="">
                            }
                            else
                            {
                                <img src="~/Content/Admin/images/member-details/member.png" alt="">
                            }

                        </div>
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                        <div class="row no-gutters">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="member-personal-details-wrapper">
                                    <div class="row no-gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="member-single-detail-left-wrapper">
                                                <p class="member-single-detail-left">First Name: </p>
                                                <p class="member-single-detail-left">Last Name:</p>
                                                <p class="member-single-detail-left">Email:</p>
                                                <p class="member-single-detail-left">DOB:</p>
                                                <p class="member-single-detail-left">Phone Number:</p>
                                                <p class="member-single-detail-left">College/University:</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="member-single-detail-right-wrapper">
                                                <p class="member-single-detail-right">@ViewBag.fname</p>
                                                <p class="member-single-detail-right">@ViewBag.lname</p>
                                                <p class="member-single-detail-right"> @ViewBag.email</p>
                                                <p class="member-single-detail-right">@ViewBag.dob</p>
                                                <p class="member-single-detail-right">@ViewBag.phone</p>
                                                <p class="member-single-detail-right">@ViewBag.college , @ViewBag.university</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="member-address-wrapper">
                                    <div class="row no-gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="member-single-detail-left-wrapper">
                                                <p class="member-single-detail-left">Address 1:</p>
                                                <p class="member-single-detail-left">Address 2:</p>
                                                <p class="member-single-detail-left">City:</p>
                                                <p class="member-single-detail-left">State:</p>
                                                <p class="member-single-detail-left">Country:</p>
                                                <p class="member-single-detail-left">Zip Code:</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <div class="member-single-detail-right-wrapper">
                                                <p class="member-single-detail-right">@ViewBag.address1</p>
                                                <p class="member-single-detail-right"> @ViewBag.address2</p>
                                                <p class="member-single-detail-right"> @ViewBag.city</p>
                                                <p class="member-single-detail-right">@ViewBag.state</p>
                                                <p class="member-single-detail-right">@ViewBag.country</p>
                                                <p class="member-single-detail-right">@ViewBag.zipcode</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- member details box -->
        <!-- manage-administrator table -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left">
                        <p class="box-heading">Notes</p>
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="member-notes-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">sr no.</th>
                                    <th scope="col">Note Title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center">Downloaded Notes</th>
                                    <th scope="col" class="text-center">Total Earnings</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Published Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in profileData)
                                {
                                    s++;
                                    <tr>
                                        <td class="text-center">s</td>
                                        <td class="purple-td">@i.SellerNotes.NoteTitle</td>
                                        <td>@i.Category.CategoryName</td>
                                        <td>@i.status.Status</td>
                                        <td class="text-center">22</td>
                                        <td class="text-center">$177</td>
                                        <td>@i.SellerNotes.CreatedDate</td>
                                        <td>09-10-2020, 10:10</td>
                                        <td class="text-center visible-overflow-for-dropdown">
                                            <div class="dropdown dropdown-dots-table">
                                                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="dots-in-table" src="~/Content/Admin/images/Dashboard/dots.png" alt="edit">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Download Notes</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }





                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="" aria-label="Previous">
                        <img src="~/Content/Admin/images/pagination/left-arrow.png" alt="">
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="" aria-label="Next">
                        <img style="color: white;" src="~/Content/Admin/images/pagination/right-arrow.png" alt="">
                    </a>
                </li>
            </ul>
        </nav>
        <!-- pagination -->
   
    </section>

  
</body>

