@model NotesMarketPlace.Models.Users
@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/AdminNavigation.cshtml";
}
<head>
    
    <title>Published Notes - Notes MarketPlace</title>

    <script>
        function searchBySeller() {

            document.getElementById("pnSearchForm").submit();

        }

</script>

</head>

<body>
    <section id="published-notes" class="admin-manage-page">

       
        @{
            IPagedList<NotesMarketPlace.Models.AllProgressNotes> publishednotes = ViewBag.publishedNotes;
            int s = 0;
        }
        @foreach (var i in publishednotes)
        {
            <div class="modal fade" id="exampleModal_@i.SellerNotes.NoteID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <img src="~/Content/Admin/images/notes-detail/close.png" alt="">
                            </button>
                        </div>

                        <div class="modal-body">

                            <p class="note-name-reject-popup">@i.SellerNotes.NoteTitle</p>

                            @using (Html.BeginForm("unpublishNote", "Admin", FormMethod.Get))
                            {
                                <div class="form-group">
                                    <label class="info-label" for="comment-questions">Remark *</label>
                                    @Html.Hidden("id", "", new { Value = i.SellerNotes.NoteID, @class = "hiddenid" })
                                    <textarea class="form-control input-box-style" id="" required placeholder="Write remarks" style="resize:none;" name="adminRemarks"></textarea>
                                </div>

                                <div class="reject-popup-btns">
                                    <div class="row no-gutters">
                                        <button type="submit" class="btn action-btn-in-table" id="reject-btn" onclick="return confirm('Are you sure you want to Unpublish this note?');">Unpublish</button>
                                        <button class="btn action-btn-in-table" id="cancel-btn">Cancel</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Modal -->
        <!-- manage-administrator table -->
        <div class="content-box-lg">


            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="box-heading">Published Notes</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-12 text-left">
                        <div class="form-group">
                            @using (Html.BeginForm("publishedNotes", "Admin", FormMethod.Get, new { @Id = "pnSearchForm" }))
                            {
                                <label for="pnSeller" class="info-label">Seller</label>
                                @Html.DropDownListFor(x => x.FirstName, new SelectList(ViewBag.pnSellers, "Value", "Text"), "Seller", new { @onchange = "searchBySeller()", @class = "form-control input-box-style", id = "pnSeller" })
                                <div class="select-down-arrow"><img class="select-down-arrow-img" src="~/Content/Admin/images/Dashboard/down-arrow.png" alt="eye"></div>
                            }
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-12">

                        @using (Html.BeginForm("publishedNotes", "Admin", FormMethod.Get))
                        {
                            <div class="row no-gutters general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/Admin/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search" name="pnsearch">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>



            <div class="container">

                <div class="published-notes-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Sell type</th>
                                    <th scope="col">price</th>
                                    <th scope="col">Seller</th>
                                    <th scope="col"></th>
                                    <th scope="col">published date</th>
                                    <th scope="col">Approved By</th>
                                    <th scope="col" class="text-center">Number of<br>downloads</th>
                                    <th scope="col" width="80px"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.publishedNotesCount > 0)
                                {

                                    foreach (var i in publishednotes)
                                    {
                                        s++;
                                        <tr>
                                            <td class="text-center">@s</td>
                                            <td class="purple-td">@i.SellerNotes.NoteTitle</td>
                                            <td>@i.Category.CategoryName</td>
                                            <td class="text-center">@i.SellerNotes.SellType</td>
                                            <td>$@i.SellerNotes.SellPrice</td>
                                            <td>@i.user.FirstName @i.user.LastName</td>
                                            <td class="text-center">
                                                <a href="/Admin/memberdetails/@i.user.UserID"><img class="eye-img-in-table" src="~/Content/Admin/images/Dashboard/eye.png" alt="edit"></a>
                                            </td>
                                            <td>@i.SellerNotes.PublishedDate</td>
                                            <td>@i.buyer.FirstName @i.buyer.LastName</td>
                                            <td class="purple-td text-center">@i.SellerNotes.DownloadNotes.Where(x => x.NoteID == i.SellerNotes.NoteID && x.IsAttachmentDownloaded == true && x.AttachmentPath != null).Count()</td>
                                            <td class="text-center visible-overflow-for-dropdown">
                                                <div class="dropdown dropdown-dots-table">
                                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img class="dots-in-table" src="~/Content/Admin/images/Dashboard/dots.png" alt="edit">
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="/Admin/adminDownloadNote/@i.SellerNotes.NoteID">Download Note</a>
                                                        <a class="dropdown-item" href="/User/notedetail/@i.SellerNotes.NoteID">View More Details</a>
                                                        <a class="dropdown-item" data-id="@i.SellerNotes.NoteID" data-toggle="modal" data-target="#exampleModal_@i.SellerNotes.NoteID" onclick="document.getElementByClass('hiddenid').value =@i.SellerNotes.NoteID">Unpublish</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="11">
                                            <center>
                                                No Record Found!
                                            </center>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- published note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(publishednotes, page => Url.Action("publishednotes", new
               {
                   page,
                   Search = Request.QueryString["pnsearch"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
       

    </section>

</body>


