@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/NavigationBar.cshtml";
}

<head>

    <title>Buyers Request - NotesMarketPlace</title>

    <!-- Faviocn -->
    <link rel="shortcut icon" href="~/Content/User/images/logo/favicon.ico">

    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/User/css/bootstrap/bootstrap.min.css">

    <!-- Customized css -->
    <link rel="stylesheet" href="~/Content/User/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="~/Content/User/css/responsive.css">
</head>

<body>
    <section id="buyers-requests">


        <!-- my downloads table -->
        <div class="content-box-lg">
            @{
                IPagedList<NotesMarketPlace.Models.AllProgressNotes> buyerrequest = ViewBag.BuyerRequests;
                int s = 0;
            }
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="my-downloads-heading">Buyer Requests</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                            <div class="form-group has-search-bar">
                                <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="searchRequest">
                            </div>

                            <button class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="my-downloads-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Phone no.</th>
                                    <th scope="col">Sell type</th>
                                    <th scope="col">price</th>
                                    <th scope="col">downloaded date/time</th>
                                    <th scope="col" width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@ViewBag.BuyerRequestsCount > 0)
                                {

                                    foreach (var i in buyerrequest)
                                    {
                                        s++;
                                        <tr>
                                            <td>@s</td>
                                            <td class="purple-td">@i.SellerNotes.NoteTitle</td>
                                            <td>@i.Category.CategoryName</td>
                                            <td>@i.user.EmailID</td>
                                            <td>@i.country.CountryCode @i.uprofiledata.PhoneNumber</td>
                                            <td>@i.SellerNotes.SellType</td>
                                            <td>@i.SellerNotes.SellPrice</td>
                                            @if (i.downloadNote.AttachmentDownloadDate != null)
                                            {
                                                <td>@i.downloadNote.AttachmentDownloadDate</td>
                                            }
                                            else
                                            {
                                                <td><center>-</center></td>
                                            }
                                            <td class="text-center visible-overflow-for-dropdown">
                                                <img class="eye-img-in-table" src="~/Content/User/images/Dashboard/eye.png" alt="edit">

                                                <div class="dropdown dropdown-dots-table">
                                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img class="dots-in-table" src="~/Content/User/images/Dashboard/dots.png" alt="edit">
                                                    </a>

                                                    @if (i.downloadNote.IsSellerHasAllowedDownload == false)
                                                    {
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" href="~/User/acceptDownloadRequest/@i.SellerNotes.NoteID">Allow Download</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item">Received!</a>
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9">
                                            <center>
                                                No Record Found !
                                            </center>
                                        </td>
                                    </tr>
                                }








                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

        </div>
        <!-- progress note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(buyerrequest, page => Url.Action("buyersrequests", new
               {
                   page,
                   //Search = Request.QueryString["Search"],
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
       

    </section>

  
</body>


