@using PagedList
@using PagedList.Mvc
@model NotesMarketPlace.Models.NoteReviews

@{
    Layout = "~/Views/Shared/NavigationBar.cshtml";
}

<head>

    <!-- Title -->
    <title>My Downloads - Notes MarketPlace</title>

    <!-- Script For Star-->
    <script type="text/javascript">
        function FillOut(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-muted fa fa-star');
            }
        }
        function FillOver(rating) {
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
        }
        function FillClick(rating) {
            $("#lblRating").val(rating);
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
            for (var i = rating + 1; i <= 5; i++) {
                $("#s" + i).attr('class', 'text-muted fa fa-star');
            }
        }
        function FillSelected() {
            var rating = $("#lblRating").val();
            for (var i = 1; i <= rating; i++) {
                $("#s" + i).attr('class', 'text-warning fa fa-star');
            }
        }

/**/</script>

</head>

<body>

    <section id="my-downloads">

        @{
            IPagedList<NotesMarketPlace.Models.AllProgressNotes> mydownload = ViewBag.DownloadNotes;
            int s = 0;
        }

        <!-- Review Popup -->
        @foreach (var i in mydownload)
        {
            using (Html.BeginForm("noteReview", "User", FormMethod.Get))
            {
                <div class="modal fade" id="ReviewModal_@i.SellerNotes.NoteID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <img src="~/Content/User/images/notes-detail/close.png" alt="">
                                </button>
                            </div>
                            <div class="modal-body">

                                <p class="add-review-heading">Add Review</p>

                                <div class="add-reviews-stars" onmouseout="FillSelected()">
                                    <i id="s1" class="text-muted fa fa-star" onmouseout="FillOut(1)" onmouseover="FillOver(1)" onclick="FillClick(1)"></i>
                                    <i id="s2" class="text-muted fa fa-star" onmouseout="FillOut(2)" onmouseover="FillOver(2)" onclick="FillClick(2)"></i>
                                    <i id="s3" class="text-muted fa fa-star" onmouseout="FillOut(3)" onmouseover="FillOver(3)" onclick="FillClick(3)"></i>
                                    <i id="s4" class="text-muted fa fa-star" onmouseout="FillOut(4)" onmouseover="FillOver(4)" onclick="FillClick(4)"></i>
                                    <i id="s5" class="text-muted fa fa-star" onmouseout="FillOut(5)" onmouseover="FillOver(5)" onclick="FillClick(5)"></i>
                                </div>
                                <input type="hidden" id="lblRating" name="Ratings" />

                                <div class="form-group">
                                    <label class="info-label" for="comment-questions">Comments *</label>
                                    @Html.TextAreaFor(x => x.Comments, new { @class = "form-control input-box-style", id = "md-review", placeholder = "Comments...", style = "resize:none;" })
                                    <div class="incorrect-password-label">
                                        <p>
                                            @Html.ValidationMessage("Comments", new { style = "color:red" })
                                        </p>
                                    </div>
                                </div>

                                <input type="hidden" value="@i.SellerNotes.NoteID" id="hiddenreviewid" name="noteID" />

                                <div class="form-btn">
                                    <button type="submit" class="btn btn-general btn-purple" name="submit1">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- Review Popup Ends -->
        <!-- Report Popup -->
        @foreach (var i in mydownload)
        {
            using (Html.BeginForm("spamReport", "User", FormMethod.Get))
            {
                <div class="modal fade" id="ReportModal_@i.SellerNotes.NoteID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <img src="~/Content/User/images/notes-detail/close.png" alt="">
                                </button>
                            </div>
                            <div class="modal-body">

                                <p class="add-review-heading">Add Report</p>

                                <div class="form-group">
                                    <label class="info-label" for="comment-questions">Remarks *</label>
                                    <textarea name="remark" id="md-report" class="form-control input-box-style" placeholder="Remarks..." style="resize:none;"></textarea>
                                </div>

                                <input type="hidden" value="@i.SellerNotes.NoteID" id="hiddenreportid" name="noteID1" />

                                <div class="form-btn">
                                    <button type="submit" class="btn btn-general btn-purple" name="submit2">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <!-- Report Popup Ends -->
        <!-- MyDownloads Box -->
        <div class="content-box-lg">

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="my-downloads-heading">My Downloads</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        @using (Html.BeginForm("mydownloads", "User", FormMethod.Get))
                        {
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="downloadSearch">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="my-downloads-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Seller</th>
                                    <th scope="col">Sell type</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Downloaded time</th>
                                    <th scope="col" width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.DownloadNotesCount > 0)
                                {
                                    foreach (var i in mydownload)
                                    {
                                        s++;
                                        <tr>
                                            <td>@s</td>
                                            <td class="purple-td"><a style="color:#6255a5; text-decoration:none" href="/User/notedetail/@i.SellerNotes.NoteID">@i.SellerNotes.NoteTitle</a></td>
                                            <td>@i.Category.CategoryName</td>
                                            <td>@i.user.EmailID</td>
                                            <td>@i.SellerNotes.SellType</td>
                                            <td>@i.SellerNotes.SellPrice</td>
                                            <td>@i.downloadNote.AttachmentDownloadDate</td>
                                            <td class="text-center visible-overflow-for-dropdown">
                                                <a href="/User/notedetail/@i.SellerNotes.NoteID"><img class="eye-img-in-table" src="~/Content/User/images/Dashboard/eye.png" alt="edit"></a>

                                                <div class="dropdown dropdown-dots-table">
                                                    <a href="~/User/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img class="dots-in-table" src="~/Content/User/images/Dashboard/dots.png" alt="edit">
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="/User/userDownloadNote/@i.SellerNotes.NoteID">Download Note</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ReviewModal_@i.SellerNotes.NoteID" data-id="@i.SellerNotes.NoteID" onclick="document.getElementById('hiddenreviewid').value =@i.SellerNotes.NoteID">Add Reviews / Feedback</a>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ReportModal_@i.SellerNotes.NoteID" data-id="@i.SellerNotes.NoteID" onclick="document.getElementById('hiddenreportid').value =@i.SellerNotes.NoteID">Report as Inappropriate</a>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <center>No Record Found!</center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- MyDownloads Box Ends -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(mydownload, page => Url.Action("myDownloads", new
               {
                   page,
                   //Search = Request.QueryString["searchnotes"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>
        <!-- Pagination -->

    </section>

</body>