@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/NavigationBar.cshtml";
}


<head>
   
    <title>My Rejected Notes - NotesMarketPlace</title>


</head>

<body>
    <section id="my-rejected-notes">

       
        <!-- my downloads table -->
        <div class="content-box-lg">

            @{
                IPagedList<NotesMarketPlace.Models.AllProgressNotes> RejectedNotes = ViewBag.rejectedNote;
                int s = 0;

            }

            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="my-downloads-heading">My Rejected Notes</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        @using (Html.BeginForm("myrejectednotes", "User", FormMethod.Get))
                        {
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="rejectsearch">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="my-downloads-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Remarks</th>
                                    <th scope="col">Clone</th>
                                    <th scope="col" width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in RejectedNotes)
                                {
                                    s++;

                                    <tr>
                                        <td>@s</td>
                                        <td class="purple-td">@i.SellerNotes.NoteTitle</td>
                                        <td>@i.Category.CategoryName</td>
                                        <td>@i.SellerNotes.AdminRemarks</td>
                                        <td class="purple-td">Clone</td>
                                        <td class="text-center visible-overflow-for-dropdown">
                                            <div class="dropdown dropdown-dots-table">
                                                <a href="~/User/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="dots-in-table" src="~/Content/User/images/Dashboard/dots.png" alt="edit">
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="/User/userDownloadNote/@i.SellerNotes.NoteID">Download Note</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- progress note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(RejectedNotes, page => Url.Action("myrejectednotes", new
               {
                   page,
                  // Search = Request.QueryString["searchnotes"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
       

    </section>


</body>


