@using PagedList;
@using PagedList.Mvc;


@{
    Layout = "~/Views/Shared/NavigationBar.cshtml";
}

<head>
    
    <title>My Sold Notes - NotesMarketPlace</title>

    
</head>

<body>
    <section id="my-sold-notes">

        
        <!-- my downloads table -->
        <div class="content-box-lg">
            @{
                IPagedList<NotesMarketPlace.Models.AllProgressNotes> SoldNote = ViewBag.mysoldnotes;
                int s = 0;
            }
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-left box-heading-wrapper">
                        <p class="my-downloads-heading">My Sold Notes</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        @using (Html.BeginForm("mysoldnotes", "User", FormMethod.Get))
                        {
                            <div class="row no-gutters text-right general-search-bar-btn-wrapper">
                                <div class="form-group has-search-bar">
                                    <span class="search-symbol"><img src="~/Content/User/images/Dashboard/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control input-box-style search-notes-bar" id="example" placeholder="Search notes here..." name="soldsearch">
                                </div>

                                <button type="submit" class="btn btn-general btn-purple general-search-bar-btn">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="container">

                <div class="my-downloads-table general-table-responsive">
                    <div class="table-responsive-xl">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">sr no.</th>
                                    <th scope="col">Note title</th>
                                    <th scope="col">category</th>
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Sell type</th>
                                    <th scope="col">price</th>
                                    <th scope="col">downloaded time</th>
                                    <th scope="col" width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in SoldNote)
                                {
                                    s++;

                                <tr>
                                    <td>@s</td>
                                    <td class="purple-td"><a style="color:#6255a5; text-decoration:none" href="/User/notedetail/@i.SellerNotes.NoteID">@i.SellerNotes.NoteTitle</a></td>
                                    <td>@i.Category.CategoryName</td>
                                    <td>@i.user.EmailID</td>
                                    <td>@i.SellerNotes.SellType</td>
                                    <td>$@i.SellerNotes.SellPrice</td>
                                    <td>27 Nov 2020, 11:24:34</td>
                                    <td class="text-center visible-overflow-for-dropdown">
                                        <a href="/User/notedetail/@i.SellerNotes.NoteID">
                                            <img class="eye-img-in-table" src="~/Content/User/images/Dashboard/eye.png" alt="edit">
                                        </a>
                                        <div class="dropdown dropdown-dots-table">
                                            <a href="~/User/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img class="dots-in-table" src="~/Content/User/images/Dashboard/dots.png" alt="edit">
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="/User/userDownloadNote/@i.SellerNotes.NoteID">Download Note</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                }



                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- progress note table -->
        <!-- Pagination -->
        <div class="pagination-section">
            <div class="pagination-notes">
                <div class="pagination-number">
                    @Html.PagedListPager(SoldNote, page => Url.Action("mysoldnotes", new
               {
                   page,
                  // Search = Request.QueryString["searchnotes"]
                   // SortOrder = Request.QueryString["SortOrder"]
               })
           , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
           )
                </div>
            </div>
        </div>


        <!-- pagination -->
        

    </section>

</body>

